*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background-color:#f4f4f4;
    color:#333;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background-color:#2f2f2f;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
}

ul{
    display:flex;
    list-style:none;
    gap:30px;
}

ul a{
    text-decoration:none;
    color:white;
}

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:80vh;
    background:#02101f;
    color:white;
}

.tag{
    background:black;
    padding:15px 30px;
    border-radius:20px;
    font-size:28px;
}

.platform{
    background:white;
    color:black;
    padding: 20px;
    border-radius:10px;
}

.hero h1{
    font-size:80px;
    text-align:center;
}
